In [1]:
import pandas as pd
import numpy as np
from plotnine import *

In [2]:
df_2003 = pd.read_csv("/Users/yu/Documents/Duke/courses/19fall/IDS690.02 python/mid-semester project/data/population data/1970~/nhgis0002_ds231_2003_county.csv")
df_2003.head()

,GISJOIN,YEAR,AREANAME,STATE,STATEA,COUNTY,COUNTYA,DATAFLAG,NOTECODE,AGWD001
0,G0100010,2003,"Autauga, AL",Alabama,10,Autauga,10,0,0,46348
1,G0100030,2003,"Baldwin, AL",Alabama,10,Baldwin,30,0,0,151574
2,G0100050,2003,"Barbour, AL",Alabama,10,Barbour,50,0,0,28805
3,G0100070,2003,"Bibb, AL",Alabama,10,Bibb,70,0,0,21224
4,G0100090,2003,"Blount, AL",Alabama,10,Blount,90,0,0,54195

In [6]:
df_2010 = pd.read_csv("/Users/yu/Documents/Duke/courses/19fall/IDS690.02 python/mid-semester project/data/population data/2009~/nhgis0014_ds175_2010_county.csv")
df_2010.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 79: invalid continuation byte